body{
  padding-left: 15px;
}

td {
  padding: 5px;

}
.userBox {
  max-width: 800px;
}

input{
  width: 60px;
  border-radius: 12px;
  border:1px solid green;
  height: 26px;
  outline:none;
}

.submitButton {
  height: 26px;
  background-color: darkseagreen;
  border-radius: 12px;
  outline:none;
}
.headersNav {
  background-color: mediumseagreen;
  width: 800px;
  height: 24px;
  margin-top: 15px;
  border-radius: 6px;
}
th {
  width:150px;
  line-height: 24px;
}
td {
  width: 150px;
}
td:last-child {
  width: 250px;
  display: inline-block;
}
img {
  border-radius: 50%;
}
.voteBtn {
  background-color: seagreen;
  width: 74px;
  height: 26px;
  outline: none;
  border-radius: 6px;

}